
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore service account JSON key
gspread-for-ipynb-tiktok-3adba504e647.json

# Ignore the virtual environment directory
venv/

# Ignore sensitive files
secrets/

# Ignore .env files if used for environment variables
.env

